flask
flask-dotenv
Flask-Limiter
flask-smorest
SQLAlchemy
Flask-SQLAlchemy
marshmallow
flask-jwt-extended
passlib # for password hashing
flask-migrate
gunicorn
psycopg2
#dotenv
https://files.pythonhosted.org/packages/6a/3e/b68c118422ec867fa7ab88444e1274aa40681c606d59ac27de5a5588f082/python_dotenv-1.0.1-py3-none-any.whl
requests
redis
rq # redis_queue